<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" th:href="@{/theme.css}" type="text/css"/>
        <script type="text/javascript">
            function maisQtd(id) {
            document.getElementById(id).value = Number(document.getElementById(id).value) + 1;
            
            var id2 = parseInt(id) + 1;
            var atual = parseFloat(document.getElementById(id2).innerText);
            atual += parseFloat(atual);
            document.getElementById(id2).innerText = atual;
            calculaTotal();
            }

            function menosQtd(id) {
            if (document.getElementById(id).value != 1) {
            document.getElementById(id).value = Number(document.getElementById(id).value) - 1;
            }
            }

            window.onload = function(){ 
            var element = document.getElementById("total");

            var count = document.getElementsByClassName('lead prodObj');
            if (count.length > 0) {
            var total = 0;
            for(var i = 0; i < count.length; i++)
            {
            total += parseFloat(count[i].innerText);
            }
            element.innerHTML = 'R$' + total;
            }
            }
            
            function calculaTotal(){
            var element = document.getElementById("total");

            var count = document.getElementsByClassName('lead prodObj');
            if (count.length > 0) {
            var total = 0;
            for(var i = 0; i < count.length; i++)
            {
            total += parseFloat(count[i].innerText);
            }
            element.innerHTML = 'R$' + total;
            }
            }

        </script>
    </head>
    <body>
        <div th:replace="Master :: nav">
        </div>
        <form th:action="@{/venda/vendaFim}" method="post" th:object="${prodQtd}">
            <!-- product generated -->
            <div class="py-3" th:each="c, rowStat : ${session.carrinho}">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="d-block img-fluid float-left img-thumbnail" th:src="${c.imagem_url}"> 
                        </div>
                        <div class="col-md-5 ">
                            <h1 class="" th:text="${c.nome}"><b>Drone Super Hiper Legal Mesmo</b></h1>
                        </div>
                        <div id="div1" class="col-md-4">
                            <p th:type="number" class="lead prodObj" th:id="${c.idProd} + 1" th:text="${#numbers.formatDecimal(c.precos.preco, 0, 'POINT', 2, 'COMMA')}">Por: R$2.200,00
                                <br>ou, à vista : R$ 1.980,00
                            </p>
                            <a class="btn-lg btn-danger mb-2" th:href="@{/carrinho/remover/{id}(id=${c.idProd})}" type="submit">Remover do Carrinho</a>
                            <br>
                            <input type="hidden" th:field="*{quantidade[__${rowStat.index}__].id}" />

                            <input type="hidden" disabled id="qtdAdd">


                            <input id="ProdId" type="hidden" value="${c.idProd}" disabled>
                            <button class="btn menos btn-light" type="button" th:onclick="'menosQtd(\'' + ${c.idProd} + '\');'" >-</button>
                            <input th:id="${c.idProd}" class="form-control col-sm-2" style="display:inline;" th:field="*{quantidade[__${rowStat.index}__].quantidade}" th:type="number" readonly="true">
                            <button class="btn mais btn-light" type="button" th:onclick="'maisQtd(\'' + ${c.idProd} + '\');'">+</button>

                            <p><span id="teste" style="display: none" th:text="${c.precos.precoFormatado}"></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Frete e total COMEÇO-->    
            <div class="py-3" th:if="${session.carrinho} != null">
                <div class="container">
                    <div class="row" style="margin-left: 55%;">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="card">
                                    <p id="total" class="lead m-2">Total: </p>

                                    <p th:text="${session.erroQtd}"></p>

                                    <button class="btn btn-success m-2" type="submit" th:if="${session.usuario != null}">Comprar</button>
                                    <a class="btn btn-success m-2" type="submit" th:if="${session.usuario == null}" th:href="@{/login/telaLogin}" >Comprar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="alert alert-info" th:if="${session.carrinho} == null" role="alert">
            Não há produtos no carrinho!
        </div>
        <!-- Frete e total FIM-->    
        <div th:replace="Master :: footer">
        </div>
    </body>
</html>