<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" th:href="@{/theme.css}" type="text/css"/>
    </head>
    <body>
        <div th:replace="Master:: nav">
        </div>
        <div class="py-5 col-md-12">

            <div class="container col-md-12">
                <div class="row align-items-center justify-content-center">
                    <div class="card col-md-4">
                        <article class="card-body">
                            <a class="float-right btn btn-outline-info" th:href="@{/cadastrar/cliente/cadastro}">Cadastrar-se</a>
                            <h4 class="card-title mb-4 mt-1">Login</h4>
                            <form th:action="@{/login/logandoCart}" th:object="${login}" method="post">
                                <div class="form-group" >
                                    <label>E-Mail</label>
                                    <input name="" th:field="*{user}" class="form-control" placeholder="Email" type="email">
                                </div> <!-- form-group// -->
                                <div class="form-group">
                                    
                                    <label>Senha</label>
                                    <input class="form-control" th:field="*{senha}" placeholder="******" type="password">
                                </div> <!-- form-group// --> 
                                <div class="form-group">
                                    <button type="submit" class="btn btn-dark btn-block"> Login</button>
                                </div> <!-- form-group// -->                                                           
                            </form>
                        </article>
                    </div> <!-- card.// -->
                </div>
            </div>
            <div class="container col-md-4"></div>
        </div>


        
    <div th:replace="master :: footer">
    </div>
</body>
</html>